<div class="cta-wrapper">
    <a href="#" class="cta">
        <i class="fa fa-key"></i>
        <p>Rent</p>
    </a>
    <a href="#" class="cta">
        <i class="fa fa-bed"></i>
        <p>PG & Basements</p>
    </a>
    <a href="#" class="cta">
        <i class="fa fa-home"></i>
        <p>Buy</p>
    </a>
    <a href="#" class="cta">
        <i class="fa fa-usd"></i>
        <p>Home Loans</p>
    </a>
    <a href="#" class="cta">
        <i class="fa fa-building"></i>
        <p>Serviced Apartments</p>
    </a>
    <a href="#" class="cta">
        <i class="fa fa-map-signs"></i>
        <p>Sell or Rent Property</p>
    </a>
</div>