<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Sell or Rent Property in Toronto, Hamilton, Kitchener, Vaughan | Ontario | Canada{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <!-- Place favicon.ico in the root directory -->

    {% block stylesheets %}
        {% stylesheets
        '@AcmeBasicCmsBundle/Resources/public/css/*'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" />
    {% endblock %}
</head>
<body ng-app="HouseTO">
<div class="menu">
    <nav class="top-menu">
        <a href="#">Home</a>
    </nav>
</div>
<div class="body-wrapper" ng-controller="MainCtrl">

    <header class="header">
        <div class="wrap">
            <h1><a href="/">House<span class="title-span">T.O.</span></a></h1>

            <div class="nav-right">
                <ul class="top-menu">
                    <li><a href="#" class="rentorsell" role="button">Rent or Sell Property</a></li>
                {% if app.user %}
                    <li class="has-children"><a href="/admin/dashboard" class="login" role="button">{{ app.user.username }}</a>
                        <ul class="sub-menu">
                            <li><a href="#" class="login" role="button">Shortlist</a></li>
                            <li><a href="/logout" class="login" role="button">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="/admin/login" class="login" role="button">login</a></li>
                {% endif %}
                    <li><a href="#" id="trigger" role="button">Menu</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div ng-view></div>
    {% block body %}{% endblock %}
</div>
    {% block javascripts %}
        {% javascripts
            '@AcmeBasicCmsBundle/Resources/public/js/jquery.min.js'
            '@AcmeBasicCmsBundle/Resources/public/js/angular.min.js'
            '@AcmeBasicCmsBundle/Resources/public/js/angular-route.min.js'
            '@AcmeBasicCmsBundle/Resources/public/js/modernizr-respond.min.js'
            '@AcmeBasicCmsBundle/Resources/public/js/main.js'
            '@AcmeBasicCmsBundle/Resources/public/js/app/*'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</body>
</html>
