/** Color Variables */
/** End List */
/* line 1, ../scss/_header.scss */
body {
  overflow-x: hidden;
}

/* line 4, ../scss/_header.scss */
.body-wrapper {
  width: 100%;
  opacity: 1;
  position: relative;
  margin: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transform: all 0.4s ease-in-out;
}
/* line 11, ../scss/_header.scss */
.body-wrapper.active-menu {
  width: 74%;
  margin-right: 25%;
  opacity: .35;
}

/* line 17, ../scss/_header.scss */
header {
  width: 100%;
  margin: 0;
  background-image: url("https://s3-us-west-2.amazonaws.com/viralpatel/houseto/home-banner.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  padding: 15px 0;
  position: relative;
}
/* line 30, ../scss/_header.scss */
header h1 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  float: left;
}
/* line 39, ../scss/_header.scss */
header a {
  color: #fff;
  text-decoration: none;
  outline: none;
}
/* line 45, ../scss/_header.scss */
header .nav-right {
  float: right;
  width: auto;
  line-height: 28px;
}
/* line 50, ../scss/_header.scss */
header .nav-right ul.top-menu {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 55, ../scss/_header.scss */
header .nav-right ul.top-menu li {
  float: left;
  padding: 0;
}
/* line 59, ../scss/_header.scss */
header .nav-right ul.top-menu li.has-children {
  position: relative;
}
/* line 62, ../scss/_header.scss */
header .nav-right ul.top-menu li.has-children ul.sub-menu {
  position: absolute;
  display: none;
  top: 100%;
  left: -7%;
  max-width: 100px;
  background: #fff;
  list-style-type: none;
  z-index: 9;
  padding: 0;
  margin: 0;
  border-top: 2px solid #0A2972;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transform: all 0.2s ease-in-out;
}
/* line 76, ../scss/_header.scss */
header .nav-right ul.top-menu li.has-children ul.sub-menu:after {
  position: absolute;
  content: "";
  top: -10px;
  z-index: 99;
  left: 30px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  border-bottom: 5px solid #0A2972;
}
/* line 88, ../scss/_header.scss */
header .nav-right ul.top-menu li.has-children ul.sub-menu li {
  width: 100%;
}
/* line 91, ../scss/_header.scss */
header .nav-right ul.top-menu li.has-children ul.sub-menu a {
  color: #0A2972;
  padding: 2px 5px;
  text-align: center;
  font-size: 11px;
  margin: 0;
  display: block;
}
/* line 102, ../scss/_header.scss */
header .nav-right ul.top-menu li.has-children:hover ul.sub-menu {
  display: block;
}
/* line 109, ../scss/_header.scss */
header .nav-right a[role="button"] {
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 10px;
  border: 1px solid transparent;
  margin-right: 10px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transform: all 0.2s ease-in-out;
}
/* line 118, ../scss/_header.scss */
header .nav-right a[role="button"].rentorsell {
  border-color: #fff;
}
/* line 121, ../scss/_header.scss */
header .nav-right a[role="button"]:hover {
  background: #fff;
  color: #006dcc;
}

/* line 129, ../scss/_header.scss */
.menu {
  display: block;
  position: absolute;
  height: 100%;
  background: #333;
  z-index: 99;
  padding: 1%;
  width: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transform: all 0.4s ease-in-out;
}
/* line 141, ../scss/_header.scss */
.menu.active {
  width: 24%;
  opacity: 1;
}
/* line 146, ../scss/_header.scss */
.menu a {
  color: #fff;
  text-decoration: none;
}

/* line 1, ../scss/_home.scss */
.cta-wrapper {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  clear: both;
}
/* line 8, ../scss/_home.scss */
.cta-wrapper .cta {
  padding: 25px 10px;
  background: #0A2972;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  width: calc(100% - 20px);
  display: block;
  float: left;
}
/* line 20, ../scss/_home.scss */
.cta-wrapper .cta * {
  display: inline-block;
  width: 100%;
}
/* line 25, ../scss/_home.scss */
.cta-wrapper .cta i {
  font-size: 20px;
}
/* line 28, ../scss/_home.scss */
.cta-wrapper .cta p {
  margin: 10px 0 0;
}

@media all and (min-width: 480px) {
  /* line 37, ../scss/_home.scss */
  .cta-wrapper .cta {
    width: calc(100% / 2 - 21px);
    border-right: 1px solid #000;
  }
}
@media all and (min-width: 768px) {
  /* line 47, ../scss/_home.scss */
  .cta-wrapper .cta {
    width: calc(100% / 3 - 21px);
  }
}
@media all and (min-width: 1024px) {
  /* line 56, ../scss/_home.scss */
  .cta-wrapper .cta {
    width: calc(100% / 6 - 21px);
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transform: all 0.5s ease-in;
  }
  /* line 60, ../scss/_home.scss */
  .cta-wrapper .cta:hover {
    background: #E6E6E6;
    border-right-color: #0A2972;
    color: #0A2972;
  }
}
